<!-- Start Center Block -->
<table width="<!--[$pagewidth]-->" border="0" align="center" cellpadding="0" cellspacing="0"><!--DWLayoutTable-->
	<tr>
		<td><img src="themes/NAF/images/boxcorner_topleft.gif" alt="topleft" width="15" height="15" border="0" /></td>
		<td background="themes/NAF/images/boxside_top.gif"></td>
		<td><img src="themes/NAF/images/boxcorner_topright.gif" alt="topright" width="15" height="15" border="0" /></td>
	</tr>
	<tr>
		<td background="themes/NAF/images/boxside_left.gif"></td>
		<td valign="top" bgcolor="#f8f7ee"><!--[$content]--><br /></td>
		<td background="themes/NAF/images/boxside_right.gif"></td>
	</tr>
	<tr>
		<td><img src="themes/NAF/images/boxcorner_bottomleft.gif" alt="bottomleft" width="15" height="15" border="0" /></td>
		<td background="themes/NAF/images/boxside_bottom.gif"></td>
		<td><img src="themes/NAF/images/boxcorner_bottomright.gif" alt="bottomright" width="15" height="15" border="0" /></td>
	</tr>
</table>
<br/>
<!-- End Center Block -->