<!-- Start Right Side Block -->
<!--<div align="right">-->
	<table border="0" cellpadding="3" cellspacing="0" width="<!--[$pagewidth]-->">
		<tr>
			<td align="left">
				<span class="rightblock">
					<b>
						<!--[$title]-->
					</b>
				</span>
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="3" cellspacing="0" width="131">
		<tr valign="top">
			<td>
				<span class="rightblock">
					<!--[$content]-->
				</span>
			</td>
		</tr>
	</table>
<br/>
<!--</div>-->
<!-- End Right Side Block -->