th { 
	border-bottom: solid black 1px; border-right: solid black 1px; padding: 2px; background: #cccccc; 
}
td { 
	padding: 2px; background: transparent; border-bottom: solid black 1px; border-right: solid black 1px;
}
