<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width="15"><img src="<!--[$imagepath]-->/boxcorner_topleft.gif" alt="topleft" width="15" height="15" border="0" /></td>
		<td background="<!--[$imagepath]-->/boxside_top.gif"></td>
		<td width="15"><img src="<!--[$imagepath]-->/boxcorner_topright.gif" alt="topright" width="15" height="15" border="0" /></td>
	</tr>
	<tr>
		<td background="<!--[$imagepath]-->/boxside_left.gif"></td>
		<td valign="middle" bgcolor="<!--[$color1]-->"><span class="storytitle"><!--[$preformat.catandtitle]--></span>
<br /><img src="<!--[$imagepath]-->/spacer.gif" alt="spacer" width="1" height="9" /></td>
		<td background="<!--[$imagepath]-->/boxside_right.gif"></td>
	</tr>
	<tr>
		<td background="<!--[$imagepath]-->/boxheaderside_left.gif"></td>
		<td background="<!--[$imagepath]-->/boxheader_line.gif"><img src="<!--[$imagepath]-->/spacer.gif" alt="spacer" width="1" height="3" /></td>
		<td background="<!--[$imagepath]-->/boxheaderside_right.gif"></td>
	</tr>
	<tr>
		<td background="<!--[$imagepath]-->/boxside_left.gif" width="15"></td>
		<td valign="top" bgcolor="<!--[$color1]-->">

      <!--[$preformat.searchtopic]-->
<div align="right"><span class="tiny"> Posted by: <!--[$info.informant]--> on <!--[$info.longdatetime]--> <br /> <!--[$info.counter]--> Reads</span></div>
<br /><!--[$info.hometext]-->
<br /><span class="note"><!--[$preformat.notes]--></span>
<div align="right">
<br /><!--[$preformat.more]--><br /></div>
		  </td>
		<td background="<!--[$imagepath]-->/boxside_right.gif" width="15"></td>
	</tr>
	<tr>
		<td width="15"><img src="<!--[$imagepath]-->/boxcorner_bottomleft.gif" alt="bottomleft" width="15" height="15" border="0" /></td>
		<td background="<!--[$imagepath]-->/boxside_bottom.gif"></td>
		<td width="15"><img src="<!--[$imagepath]-->/boxcorner_bottomright.gif" alt="bottomright" width="15" height="15" border="0" /></td>
	</tr>
</table><br />